//fonts
@font-face {
  font-family: 'HammersmithOne-Regular';
  src: url('../fonts/HammersmithOne-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HammersmithOne-Regular.woff') format('woff'),
  url('../fonts/HammersmithOne-Regular.ttf')  format('truetype'),
  url('../fonts/HammersmithOne-Regular.svg#HammersmithOne-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay-Black';
  src: url('../fonts/PlayfairDisplay-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PlayfairDisplay-Black.woff') format('woff'),
  url('../fonts/PlayfairDisplay-Black.ttf')  format('truetype'),
  url('../fonts/PlayfairDisplay-Black.svg#PlayfairDisplay-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: url('../fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PlayfairDisplay-Bold.woff') format('woff'),
  url('../fonts/PlayfairDisplay-Bold.ttf')  format('truetype'),
  url('../fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url('../fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PlayfairDisplay-Regular.woff') format('woff'),
  url('../fonts/PlayfairDisplay-Regular.ttf')  format('truetype'),
  url('../fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.ttf')  format('truetype'),
  url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Thin';
  src: url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Thin.woff') format('woff'),
  url('../fonts/Roboto-Thin.ttf')  format('truetype'),
  url('../fonts/Roboto-Thin.svg#Roboto-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Light.woff') format('woff'),
  url('../fonts/Roboto-Light.ttf')  format('truetype'),
  url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
$hammerreg:'HammersmithOne-Regular',sans-serif;
$playblack:'PlayfairDisplay-Black',sans-serif;
$playbold:'PlayfairDisplay-Bold',sans-serif;
$playreg:'PlayfairDisplay-Regular',sans-serif;
$robreg:'Roboto-Regular',sans-serif;
$robthin:'Roboto-Thin',sans-serif;
$roblit:'Roboto-Light',sans-serif;
@mixin psevdo-elem {
  content: "";
  position: absolute;
}
@mixin main-section-mask {
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  opacity: 0.85;
}
@mixin _1200 {
  @media (max-width: 1200px){
    @content;
  }
}
@mixin _992 {
  @media (max-width: 992px){
    @content;
  }
}
@mixin _770 {
  @media (max-width: 770px){
    @content;
  }
}
@mixin _768 {
  @media (max-width: 768px){
    @content;
  }
}
@mixin _600 {
  @media (max-width: 600px){
    @content;
  }
}
@mixin _480 {
  @media (max-width: 480px){
    @content;
  }
}
@mixin _350 {
  @media (max-width: 350px){
    @content;
  }
}
//main
body {
  font-size: 14px;
  color: #f9f9f9;
  font-family: $robreg;
}

//mixin
.main-title-text {
  font-size: 22px;
  font-weight: 700;
  font-family: $playreg;
  color: #413d4b;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  @include _770 {
    font-size: 18px;
  }
}
.main-btn-text {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $hammerreg;
  color: #00e0d0;
  @include _770 {
    font-size: 14px;
  }
}
.after-title-text {
  color: #f9f9f9;
  font-family: $playreg;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.05px;
  position: relative;
  padding-bottom: 18px;
  &:after {
    @include psevdo-elem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50px;
    height: 2px;
    background-color: #413d4b;
    opacity: 0.3;
  }
  @include _770 {
    font-size: 13px;
  }
}
.title-small-block {
  color: #413d4b;
  font-family: $robreg;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  @include _770 {
    font-size: 13px;
  }
}
.main-text-section {
  font-family: $robreg;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
  opacity: 0.75;
  color: #333333;
  @include _770 {
    font-size: 13px;
  }
}
.main-btn {
  min-width: 120px;
  padding: 5px 15px;
  border: 1px solid #00e0d0;
  background: transparent;
  border-radius: 2px;
  transition: all .3s;
  &:hover {
      border: 1px solid transparent;
      background: #00e0d0;
    color: #ffffff;
  }
  @include _770 {
    min-width: 90px;
  }
}

.header {
  @include _992 {
    background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
    opacity: 0.85;
    border-bottom: 1px solid #171239;
  }
}
.navbar-toggler {
  background: rgba(0, 224, 208, .5);
  border: 1px solid  #00e0d0;
  &:focus {
    outline: none;
  }
}

//main style
.header.stickytop {
  background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  opacity: 0.85;
  border-bottom: 1px solid #171239;
}
.logo-text{
  background: linear-gradient(to right, #00e0d0 0%, #4aa3cc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ffffff;
  font-family: $robthin;
  font-size: 30px;
  font-weight: 400;
  @include _770 {
    font-size: 22px;
  }
  @include _600 {
    font-size: 18px;
  }
  .logo {
    width: 44px;
    height: 50px;
  }
}
.header .navbar-nav {
  .nav-item {
    margin-right: 15px;
    &.active .nav-link {
      color: #00e0d0;
    }
    .nav-link {
      color: #ffffff;
      font-family: $robreg;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.33px;
      transition: all .3s;
      padding-left: 5px;
      padding-right: 5px;

      &:hover {
        color: #00e0d0;
      }
    }
  }
}

//banner-section
.banner-section {
    margin-bottom: 70px;
    padding-top: 100px;
    position: relative;
    background: url("../images/bannerFon.png");
    background-size: cover;
    min-height: 670px;
    @include _770 {
      margin-bottom: 40px;
    }
    &:after {
      @include psevdo-elem;
      @include main-section-mask;
    }
  .swiper-container {
    min-height: 600px;
    .swiper-slide {
    }
    h1 {
      font-size: 32px;
      font-weight: 400;
      font-family: $playblack;
      padding-bottom: 21px;
      position: relative;
      margin-bottom: 30px;
      @include _770 {
        font-size: 26px;
      }
      @include _600 {
        font-size: 22px;
      }
      &:after {
        @include psevdo-elem;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 50px;
        height: 1px;
        background-color: #00e0d0;
      }
    }
    .main-text-section {
      color: #ffffff;
      margin-bottom: 30px;
      width: 80%;
      margin-left: 10%;
    }
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      border: 1px solid #c2c2c2;
      background: none;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      width: 10px;
      height: 10px;
      background-color: #00e0d0;
    }
  }
}
//section-text
.section-text {
  margin-bottom: 70px;
  @include _770 {
    margin-bottom: 40px;
  }
  img {
    max-width: 235px;
    max-height: 229px;
    object-fit: contain;
  }
  .main-title-text{
    margin-bottom: 28px;
  }
  .main-text-section {
    max-height: 155px;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.75;
    color: #413d4b;
    margin-bottom: 31px;
    p {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/*video section*/
.video-section {
  background: url("../images/video-fon.png");
  object-fit: cover;
  height: 550px;
  position: relative;
  margin-bottom: 70px;
  @include  _770 {
    margin-bottom: 40px;
  }
  div {
    @extend .main-btn-text;
    font-size: 16px;
    color: #ffffff;
  }
  a  {
    display: inline-block;
    text-decoration: none;
    transition: all .3s;
    img {
      width: 100px;
      height: 100px;
      margin-bottom: 34px;
    }
  }
  .container {
    position: relative;
    z-index: 20;
    }
  &:after {
    @include psevdo-elem;
    @include main-section-mask;
  }
}

.section-expertise {
    margin-bottom: 70px;
    @include _770 {
      margin-bottom: 40px;
    }
    .main-title-text {
      color: #413d4b;
      margin-bottom: 15px;
   }
  .after-title-text {
      color:#2f2d35;
      margin-bottom: 50px;
    }
  .section-expertise__wrapper-block {
    padding: 32px 15px 40px;
    background: #ffffff;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .15);
    .title-small-block  {
      text-align: center;
      margin-bottom: 25px;
    }
    img {
      margin-bottom: 39px;
    }
    &:first-child {
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
    }
    &:nth-child(4n) {
      border-left: 1px solid transparent;
    }
    &:nth-child(2),
    &:nth-child(3) {
      border-top: 1px solid transparent;
    }
    &:nth-child(3n) {
      border-right: 1px solid transparent ;
    }
    &:nth-last-child(1),
    &:nth-last-child(2),
    &:nth-last-child(3){
      border-bottom: 1px solid transparent;
    }
    @include _770 {
      &:nth-child(4n),
      &:nth-child(3) {
        border-left: 1px solid transparent;
      }
      &:nth-child(2n) {
        border-right: 1px solid transparent;
        border-left: 1px solid rgba(0, 0, 0, .15);
      }
      &:nth-child(3) {
        border-left: 1px solid transparent;
        border-right: 1px solid rgba(0, 0, 0, .15);
        border-top:1px solid rgba(0, 0, 0, .15);
      }
      &:nth-last-child(3){
        border-bottom: 1px solid rgba(0, 0, 0, .15);
      }
      &:nth-last-child(2) {
        border-left: 1px solid transparent;
      }
    }
  }
}

//team section
.section-team {
  background: url("../images/teamFon.png");
  padding: 70px 0;
  background-size: cover;
  min-height: 712px;
  position: relative;
  margin-bottom: 70px;
  @include _770 {
    padding: 40px 0;
    margin-bottom: 40px;
  }
  .main-text-section {
    color: #ffffff;
  }
  .container {
    position: relative;
    z-index: 20;
  }
  &:after {
    @include psevdo-elem;
    @include main-section-mask;
  }
  .main-title-text {
    margin-bottom: 19px;
    color: #ffffff;
  }
  .after-title-text {
    color: #ffffff;
    margin-bottom: 47px;
    &:after {
      background-color: #ffffff;
      opacity: 0.2;;
    }
  }
}
.wrapper-team {
  margin-bottom: 70px;

}
.info-team {
  text-align: center;
  border: 1px solid rgba(225, 225, 225, .5);
  padding:0 0  30px 0;
  .team-img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  .title-small-block {
    margin-bottom: 12px;
    color: #ffffff;
  }
  .after-title {
      opacity: .7;
  }
}

//section-works-projects
.section-works-projects {
  margin-bottom: 70px;
  @include _770 {
    margin-bottom: 40px;
  }
  .main-btn {
    margin-top: 70px;
    @include _770 {
      margin-top: 40px;
    }
  }
  .img-project {
    object-fit: cover ;
  }
  .wrapper-link {
    position: relative;
    a {
      text-decoration: none;
      padding-right: 15px;
      transition: all .3s;
      &:after {
        @include psevdo-elem;
        right: 0;
        top: 5px;
        width: 9px;
        height: 9px;
        border-right: 1px solid rgba(0, 0, 0, .7);
        border-bottom: 1px solid rgba(0, 0, 0, .7);
        transform: rotate(-45deg);
      }
      &:hover {
        color:#00e0d0;
        &:after {
          border-right: 1px solid #00e0d0;
          border-bottom: 1px solid #00e0d0;
      }
      }
    }
  }
}


.section-comment {
  background: url("../images/sliderfon.png");
  background-size: cover;
  min-height: 500px;
  position: relative;
  padding: 70px 0;
  text-align: center;

  &:after {
    @include psevdo-elem;
    @include main-section-mask;
  }
  .title-small-block {
    color: #ffffff;
  }
  .after-title{
    opacity: .7;
  }
  .main-btn-text{
    font-family:$hammerreg ;
    color: #ffffff;
    text-align: center;
    max-width: 770px;
    margin: auto;
  }
  .slider-text {
    padding-top: 68px;
    position: relative;
    margin-bottom: 52px;
    &:before {
      @include psevdo-elem;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      background: url("../images/swiperComment-icon.png") no-repeat;
      width: 32px;
      height: 26px;
    }
  }
  .swiper-container {
    min-height: 400px;
  }
  .container {
    position: relative;
    z-index: 20;
  }
  .swiper-pagination {
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
  }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev,
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    transform:scale(.6)
  }
  .swiper-button-next {
    bottom: 0;
    right: 320px;
    top: auto;
    width: 30px;
    @include _1200 {
      right: 200px;
    }
    @include _992 {
      right: 130px;
    }
    @include  _770 {
      &:after {
        content: none;
      }
    }
  }
  .swiper-button-prev {
    bottom: 0;
    left: 320px;
    top: auto;
    width: 30px;
    @include _1200 {
      left: 200px;
    }
    @include _992 {
      left: 130px;
    }
    @include  _770 {
      &:after {
        content: none;
      }
    }
  }
  .swiper-slide {
    max-height: 80%;
  }
  .swiper-pagination-img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    @include  _770 {
      width: 55px;
      height: 55px;
    }
  }
  .swiper-pagination-bullet {
    opacity: 1;
  }

}
.row {
  @include _770 {
    margin-right: 0;
    margin-left: 0;
  }
}
.form-section {
  padding: 70px 15px;
  @include _770 {
    padding: 40px 0;
  }
  input {
    width: 100%;
    padding: 15px;
    margin-bottom: 23px;
    &.commentInput {
      min-height: 200px;
    }
  }
  .main-title-text{
    margin-bottom: 35px;
  }
  .wrapper-partners {
    padding-left: 70px;
    .partners_item {
      max-width: 169px;
      max-height: 69px;
      margin-right: 80px;
      margin-bottom: 40px;
      @include _992 {
        max-width: 100px;
        margin-right: 20px;
      }
    }

  }
}

input::-webkit-input-placeholder       {
  text-indent: 0;
  transition: text-indent 0.3s ease;
  opacity: 0.5;
  color: #413d4b;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
}
input::-moz-placeholder {
  text-indent: 0;
  transition: text-indent 0.3s ease;
  opacity: 0.5;
  color: #413d4b;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;}
input:-moz-placeholder {
  text-indent: 0;
  transition: text-indent 0.3s ease;
  opacity: 0.5;
  color: #413d4b;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;}
input:-ms-input-placeholder {
  text-indent: 0;
  transition: text-indent 0.3s ease;
  opacity: 0.5;
  color: #413d4b;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;}
input:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
  opacity: 0.5;
  color: #413d4b;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;}
input:focus::-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
  opacity: 0.5;
  color: #413d4b;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;}
input:focus:-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
  opacity: 0.5;
  color: #413d4b;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;}
input:focus:-ms-input-placeholder {
  text-indent: 500px; transition:
        text-indent 0.3s ease;
  opacity: 0.5;
  color: #413d4b;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;}

input[placeholder]          {text-overflow:ellipsis;}
input::-moz-placeholder     {text-overflow:ellipsis;}
input:-moz-placeholder      {text-overflow:ellipsis;}
input:-ms-input-placeholder {text-overflow:ellipsis;}

.footer-wrapper {
  background: url("../images/footer-fon.png") no-repeat;
  background-size: cover;
  position: relative;
  min-height: 400px;
  padding: 70px 0;
  &:after {
    @include psevdo-elem;
    @include main-section-mask;
  }
  .container {
    position: relative;
    z-index: 20;
  }
  .main-text-section{
    color: #ffffff;
  }
  .contacts_adress,
  .contacts_phone {
    padding-left: 30px;
    position: relative;
    &:before {
      @include psevdo-elem;
      top: 0;
      left: 0;
      background: url("../images/adress.png") no-repeat;
      background-size: contain;
      width: 17px;
      height: 25px;
    }
  }
  .contacts_adress {
      margin-bottom: 30px;
    }
  .navbar-brand {
    margin-bottom: 10px;
  }
  .contacts_phone {
    position: relative;
   &:before {
     background: url("../images/phone.png") no-repeat;
   }
  }
  .title-small-block {
    color: #ffffff;
    margin-bottom: 42px;
  }
  .social_submit {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    opacity: 0.5;
    width: 70px;
    height: 45px;
    margin-left: 10px;
    @include _992 {
      width: 40px;
      height: 30px;
    }
  }
  .subscribe_input {
    height: 45px;
    width: calc(100% - 80px);
    border: 1px solid rgba(255,255,255,.5);
    background:  rgba(0,0,0, 0);
    @include _992 {
      height: 30px;
      width: calc(100% - 50px);
    }
  }
  .social_form {
    margin-bottom: 30px;
  }
  .footer-top {
    margin-bottom: 45px;
  }
  .footer-bottom {
    .nav {
      li {
        margin-right: 35px;
      }
      a {
        color:#ffffff;
        &:hover {
          color:#00e0d0;
        }
      }
    }
  }

}